@model EHealthCare.Model.ViewModels.DoctorShowVisitsViewModel
@{
    ViewBag.Title = "My visits";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<h2>My visits</h2>

@using (Html.BeginForm("ShowVisits", "Doctor"))
{

    if (TempData["Success"] != null)
    {
        <div class="form-group">
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Patient's name</th>
                <th>Medical examination</th>
                <th>Took place?</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var visit in Model.Visits)
            {
                <tr>
                    <td>@visit.Date</td>
                    <td>@visit.Patient.Name @visit.Patient.Surname</td>
                    <td>@visit.MedicalExamination</td>
                    <td>@visit.IsTookPlace</td>
                    @if (@visit.IsTookPlace != true)
                    {
                        using (Html.BeginForm("ShowVisits", "Doctor"))
                        {
                            <td><button type="submit" class="btn btn-primary" name="submitButton" value="@visit.Id">Visit took place</button></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>

}