@using EHealthCare.Model
@model EHealthCare.Model.ViewModels.PatientViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient - Update the data</h2>
@using (Html.BeginForm("Create", "Patient"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Surname)
        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Street)
        @Html.TextBoxFor(m => m.Street, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sex)
        @Html.TextBoxFor(m => m.Sex, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pesel)
        @Html.TextBoxFor(m => m.Pesel, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PostCode)
        @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save details</button>
}

